<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>Programas de TV</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <meta name="description" content="This is a description.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'javascript.js' %}" async defer></script>
</head>

<body>
    {% for programa in programa %}
    <div>
        <h1>Programa de TV {{programa.id}}</h1>
        <a href="/programas">Volver</a>
    </div>
    <div>
        <p>Titulo: {{programa.titulo}}</p>
        <p>Canal: {{programa.canal.nombre}}</p>
        <p>Estreno: {{programa.estreno}}</p>
        <p>Descripcion: {{programa.descripcion}}</p>
        <p>Ultima Actualizacion: {{programa.updated_at}} Hora de Chile</p>
        <a href="/programas/{{programa.id}}/editar">Editar</a> | <a
            href="/programas/{{programa.id}}/eliminar">Eliminar</a>
    </div>
    {% empty %}
    <h1>ERROR: EL MOSTRAR CON ID ESPECIFICADO NO EXISTE.</h1>
    {% endfor %}
</body>

</html>